.app{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
h1{
  text-align: center;
}
.Quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  gap: 40px;
  border: 2px solid;
  background-color: rgb(17, 17, 35);
  color: white;
}
.Quiz-bt{
  border: 2px solid;
  border-radius:25px;
  height: 40px;
  width: 140px;
  background-color: black;
  color: white;
}
.Quiz-list-bt{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  gap: 10px;
}
.Quiz-bt:hover{
  background-color: #0056b3;
}
.score{
  background-color: rgb(17, 17, 35);
  color: white;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}